<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mob403.apphinhnen_mob404">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CategoryActivity.Categories" />
        <activity android:name=".CategoryActivity.MusicActivity" />
        <activity android:name=".CategoryActivity.GirlActivity" />
        <activity android:name=".CategoryActivity.TravelActivity" />
        <activity android:name=".CategoryActivity.HouseActivity" />
        <activity android:name=".CategoryActivity.NatureActivity" />
        <activity android:name=".CategoryActivity.AnimalActivity" />
        <activity android:name=".UI.MainActivity">
        </activity>
    </application>

</manifest>